@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;

    --primary: 262 83% 58%;
    --primary-foreground: 0 0% 100%;

    --muted: 240 5% 64%;
    --border: 240 4% 16%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
  }

  html,
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
}


